<mat-card>
  <mat-card-header>
    <mat-card-title>Add new city</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="cityForm" (ngSubmit)="addCity()" fxLayout="column">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>
            Id
          </mat-label>
          <input matInput
            type="number"
            formControlName="id">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>
            Name
          </mat-label>
          <input matInput
            type="text"
            formControlName="name"
            appearance="fill" floatLabel="always">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Description</mat-label>
          <input matInput
          type="text"
          formControlName="description">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Latitude</mat-label>
          <input matInput
          type="number"
          formControlName="latitude">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Latitude</mat-label>
          <input matInput
          type="number"
          formControlName="longitude">
        </mat-form-field>
        <div formArrayName="publicPlaces">
          <mat-card-subtitle>
            Public  Places
          </mat-card-subtitle>
          <ng-container *ngFor="let place of publicPlaces.controls">
            <div [formGroup]="place">
              <mat-form-field>
                <mat-label>
                  Id
                </mat-label>
                <input matInput
                  type="number"
                  formControlName="id">
              </mat-form-field>
              <mat-form-field>
                <mat-label>
                  Name
                </mat-label>
                <input matInput
                  type="text"
                  formControlName="name">
              </mat-form-field>
            </div>
          </ng-container>
        </div>
        <button mat-icon-button
          (click)="addPlace()"
          type="button">
          <mat-icon color="primary">add</mat-icon>
          place
        </button>
        <button mat-raised-button
          type="submit"
          [disabled] ="!cityForm.valid"
          color="primary">
          Add
        </button>
    </form>
  </mat-card-content>
</mat-card>
