<mat-card>
  <mat-card-header>
    <mat-card-title>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="cityForm">
      <form [formGroup]="cityForm" (ngSubmit)="editCity()" fxLayout="column">
          <mat-label>Id {{ city.id }} </mat-label>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Latitude</mat-label>
          <input matInput type="number" formControlName="latitude">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Latitude</mat-label>
          <input matInput type="number" formControlName="longitude">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">
          Save
        </button>
      </form>
  </ng-container>
  </mat-card-content>
</mat-card>
