<mat-card >
  <mat-card-header fxLayout>
    <mat-card-title>
     City explorer is an open source app
    </mat-card-title>
    <mat-card-subtitle fxLayout >
      To join us : mailto
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content >
  </mat-card-content>
</mat-card>
