<mat-card>
  <mat-card-header>
    Login
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="!userLoggedIn()">
      <form #form="ngForm" (ngSubmit)="loginUser()" >
        <div fxLayout="row" fxLayoutAlign="center">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>
            Login
          </mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="login"
            name="login"
            required>
        </mat-form-field>
      </div>
        <div fxLayout="row">
        <mat-form-field appearance="outline" floatLabel="always" fxFlex>
          <mat-label>
            Password
          </mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="password"
            name="password"
            required>
        </mat-form-field>
      </div>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="form.invalid">
          OK
        </button>
    </form>
  </ng-container>
  <ng-container *ngIf="userLoggedIn()">
    Connected as {{ getUser() }}
    <button mat-flat-button
      (click)="logOut()"
      color="warning">
      logout
    </button>
  </ng-container>
  </mat-card-content>
</mat-card>
