<mat-toolbar color="primary" fxLayout>
  <span fxFlex>
    <button mat-icon-button routerLink="/" class="back-button">
      <mat-icon class="back-button">keyboard_backspace</mat-icon>
    </button>
    City explorer
  </span>
  <button mat-button routerLink="/" > Home</button>
  <button mat-button routerLink="/about" > About</button>
  <button mat-icon-button  mat-button routerLink="/login" >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

