.container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav {
  width: 20vw;
}

.content {
  width: 80vw;
}

.city {
  margin-top: 50px;
  div, button {
    margin-left: 50px;
  }
}
