<mat-sidenav-container class="container" fxLayout>
  <mat-sidenav mode="side"
      fixedInViewport="Non-fixed"
      fixedTopGap="60"
      opened
      class="sidenav"
      fxLayout="column">
    <mat-nav-list *ngFor="let city of cities" fxLayout="rows">
      <a mat-list-item (click)="selectCity(city)">
      {{ city.name }}
    </a>
    <button mat-icon-button (click)="removeCity(city.id)" color="warning">
      <mat-icon>delete</mat-icon>
    </button>
    </mat-nav-list>
    <div>
    <button mat-raised-button routerLink="/new" fxFlex="0 1">
      Add city
    </button>
  </div>
  </mat-sidenav>
  <mat-sidenav-content class="content" fxLayout="column wrap" fxLayoutGap="40px">
    <ng-container *ngIf="selectedCity">
      <div >
       <mat-card >
         <mat-card-header fxLayout>
           <mat-card-title>
            Nom:{{ selectedCity.name }}<br/>
           </mat-card-title>
           <mat-card-subtitle fxLayout >
             <div fxLayout="column">
              <span>Description:{{ selectedCity.description }}</span>
              <span>Population:{{ selectedCity.population }}</span>
             </div>
             <div>
              <button mat-icon-button [routerLink]="['/edit',selectedCity.id]">
                <mat-icon>edit</mat-icon>
               </button>
             </div>
           </mat-card-subtitle>
         </mat-card-header>

       <mat-card-content >

       </mat-card-content>
      </mat-card>
      </div>
      </ng-container>
      <div class="map">
        <agm-map [latitude]="46.288117" [longitude]="6.160771">
          <agm-marker [latitude]="46.288117" [longitude]="6.160771"></agm-marker>
        </agm-map>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
